.aa{

    height: 100%;
    font-size: 10rem;
    color:white;
}

body{
   
    background-color: brown;
    background-image: url("../images/messi.jpg");
    background-position: center;
    background-size: cover;
}
